@using EntityLayer.Concrete
@model List<Portfolio>



<section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

       

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
            @foreach(var item in Model){
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="@item.ImageUrl" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="@item.ImageUrl" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Name" ><i class="bx bx-plus"></i></a>
                            <a href="~/iPortfolio/portfolio-details.html" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                }


        </div>

      </div>
    </section>