
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Head -->

@await Html.PartialAsync("/Views/Admin/_HeadPartial.cshtml")

<!-- Head -->
<body>
<div class="container-scroller">
    <!-- SideBar -->

    @await Html.PartialAsync("/Views/Admin/NewSideBar.cshtml")

    <!-- SideBar -->

    <div class="container-fluid page-body-wrapper">
        <!-- NavBar -->

        @await Html.PartialAsync("/Views/Admin/_NavbarPartial.cshtml")

        <!-- NavBar -->
        <div class="main-panel">
            <div class="content-wrapper">
                @RenderBody()
            </div>
            @await RenderSectionAsync("Scripts",required:false)

          
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Asrın Ziya Hocaoğlu</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        
    </div>
   
</div>
<!--Scripts-->

@await Html.PartialAsync("/Views/Admin/_ScriptsPartial.cshtml")

<!--Scripts-->

</body>
</html>
