@using EntityLayer.Concrete
@model List<Experience>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btngetlistall" class="btn btn-outline-primary">Get List</button>
        <button type="button" id="btnadd" class="btn btn-outline-info">Save</button>
        <button type="button" id="btnid" class="btn btn-outline-warning">Get By Id</button>
        <button type="button" id="btndelete" class="btn btn-outline-danger">Delete</button>
        <button type="button" id="btnupdate" class="btn btn-outline-success">Update</button>
    </div>
</div>

<h4 class="text-center">Experiences</h4>
<div class="p-2" id="listexperience">
  
</div>

<br/>
<div class="p-2" id="listbyidexperience">
  
</div>
<br/>

<div class="col-md-12">
    <h4>Add Panel</h4>
    <input type="text" class="form-control" id="inputName" placeholder="Name"/>
    <br/>
    <input type="text" class="form-control" id="inputDate" placeholder="Date"/>

</div>
<br />
<div class="col-md-12">
    <h5>Get By Id</h5>
    <input type="text" class="form-control" id="inputId" placeholder="Id"/>
    <br/>
</div>
<div class="col-md-12">
    <h5>Delete</h5>
    <input type="text" class="form-control" id="inputDeleteId" placeholder="Id"/>
    <br/>
</div>

@section Scripts
{
    <script>
        $("#btngetlistall").click(function() {
            $.ajax({
                contentType: "Application/json",
                dataType: "json",
                type: "Get",
                url: "/Experience_2/ListExperience/",

                success: function(func) {
                    let values = jQuery.parseJSON(func);
                    console.log(values);

                    let htmlstring = "<table class=table table-bordered> <tr> <th> ID </th> <th>Name</th> <th>Date</th> </tr>";
                    $.each(values,
                        (index, value) => {
                            htmlstring += `<tr> <td>${value.ExperienceId}</td> <td> ${value.Name}</td> <td> ${value.Date}</td> </tr>`
                        });
                    htmlstring += "</table>";
                    $("#listexperience").html(htmlstring);
                }
            });
        });

        $("#btnadd").click(function() {
            let values = {
                Name: $("#inputName").val(),
                Date: $("#inputDate").val()
            };
            $.ajax({
                type: "Post",
                url: "/Experience_2/AddExperience/",
                data: values,
                success: function(func) {
                    let result = jQuery.parseJSON(func);
                    alert(result.Name + " Successfully Added");

                }

            });
        });

        $("#btnid").click(x => {
            let id = $("#inputId").val();
            $.ajax({
                contentType: "Application/json",
                dataType: "json",
                type: "Get",
                url: "/Experience_2/GetById/",
                data: { ExperienceId: id },
                success: function(func) {
                    let result = jQuery.parseJSON(func);
                    console.log(result);
                    let htmlst = `<table class= table table-hover <tr><th>Experience Id</th> <td>${result.ExperienceId}</td></tr> <tr> <th>Experience Name</th> <td> ${result.Name}</td> </tr> </table>`;
                    $("#listbyidexperience").html(htmlst);
                }
            });
        });
        $("#btndelete").click(x => {
            let id = $("#inputDeleteId").val();
            $.ajax({
                url: "/Experience_2/DeleteExperience/"+id,
                type: "post",
                contentType: "application/json",
                dataType: "json",
                success: function(func) {
                    loadData(func);
                }
            });
        });

    </script>

}
<script src="~/lib/jquery/dist/jquery.js"></script>

