<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Asrın Ziya Hocaoğlu</span></strong>
        </div>
        <div class="credits">
            Designed by <a href="https://www.linkedin.com/in/asr%C4%B1n-hocaoglu/">Asrın Ziya Hocaoğlu</a>
        </div>
    </div>
</footer><!-- End  Footer -->