

<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="~/userimage/05f25d54-8d79-4341-955c-4aa1ef8c236f.jpg" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="~/iPortfolio/index.html">Asrın Ziya Hocaoğlu</a></h1>
            @await Component.InvokeAsync("SocialMediaList")
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-code-block"></i> <span>Skills</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
                <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
                <li><a href="#testimonials" class="nav-link scrollto"><i class="bx bx-user-pin"></i> <span>Testimonials</span></a></li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
                <li><a href="/Writer/Login/Index/" class="nav-link "><i class="bx bx-envelope"></i> <span>Writer Login</span></a></li>

            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header>

