@using EntityLayer.Concrete
@model List<SocialMedia>

<div class="social-links mt-3 text-center">
    @foreach (var item in Model)
    {
        <a href="@item.Url" class="@item.Name"><i class="@item.Icon" target="_blank"></i></a>
    }
    @*   <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>*@
</div>