
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}




<div class="col-12 grid-margin stretch-card">
<div class="card">
    <div class="card-body">
        
            <h4 class="mb-0">Service Add</h4>
        
        <form class="form-group" method="post">
            <br/>
            <label>Service Name</label>
            <input type="text" name="Title" class="form-control"/>
            <br/>
            <label>Description</label>
            <input type="text" name="Description" class="form-control"/>
            <br/>
            <label>Icon</label>
            <input type="text" name="IconString" class="form-control"/>
            <br/>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</div>



