@using EntityLayer.Concrete
@model List<Experience>


    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
    @foreach (var item in Model)
    {
        <div class="resume-item">
            <h4>@item.Name</h4>
            <h5>@item.Date</h5>
            <p><em>@item.Location </em></p>
            <p>
                @item.Description
            </p>
        </div>
    }
    </div>

